#env.example
#database postgres

POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DB=launchkit
POSTGRES_USER=launchkit
POSTGRES_PASSWORD=

#redis

REDIS_ADDR=redis:6379
REDIS_PASSWORD=

#jwt

ACCESS_SECRET=
REFRESH_SECRET=

#pgadmin

PGADMIN_EMAIL=
PGADMIN_PASSWORD=